* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }

.container li {
    list-style: none;
    padding: 10px;
    padding-left: 20px;
    width: 290px;
    font-size: 16px;
    color: white;
 }


 .container {
    margin: 20px;
    width: 300px;
    background:#14202B;
    height: 400px;
 }
 .container li {
    list-style: none;
    padding: 10px;
    padding-left: 20px;
    width: 290px;
    font-size: 16px;
 }
 .container li:hover {
    color: rgb(35, 132, 223);
 }
 .container li > i {
    width: 20px;
    text-align: center;
    margin-right: 10px;
 }

 button{
    background-color: #3C9AEB;
    font-weight: 600;
    float: left;
    height: 60px;
    width: 450px;
    color: white;
    font-weight: 300;
    font-size: 18px;
    border-radius: 30px;
    margin-top: 30px;
    border: none;
}

li > img{
    width:20px;
    height: auto;
    margin-right: 10px;
}