* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 }

.container li {
    list-style: none;
    padding: 10px;
    padding-left: 20px;
    width: 290px;
    font-size: 20px;
    color: white;
 }

#logo{
   color: white;
   margin-top:20px;
   margin-left: 20px;
   font-size: 25px;
   margin-bottom: 10px;
}

 .container {
    margin: 20px;
    width: 300px;
    background:#14202B;
    height: 450px;
 }
 .container li {
    list-style: none;
    padding: 10px;
    padding-left: 20px;
    width: 290px;
    font-size: 16px;
 }
 .container li:hover {
    color: rgb(35, 132, 223);
 }
 .container li > i {
    width: 20px;
    text-align: center;
    margin-right: 10px;
 }

 button{
    background-color: #3C9AEB;
    font-weight: 600;
    float: left;
    height: 40px;
    width: 200px;
    color: white;
    font-weight: 300;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 20px;
    border: none;
    text-align: center;
    margin-left: 20px;
}

li > img{
    width:20px;
    height: auto;
    margin-right: 10px;
}